.content-editor__custom-block {}

/* inner figure tags */
.content-editor__custom-block.rich,
.content-editor__custom-block.photo,
.content-editor__custom-block.document {
  width: auto;
  margin: 0;
}

.content-editor__custom-block .caption {
  color: #7c7c7c;
  font-size: 11px;
  line-height: 1.4em;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.content-editor__custom-block.document {
  width: 220px;
  padding: 0 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.content-editor__custom-block.document a { font-size: 13px; }
.content-editor__custom-block.document .caption {
  width: 220px;
  margin-left: -8px;
  border: none;
  border-top: 1px solid #ccc;
}

.content-editor__custom-block img {
  width: 320px;
  box-sizing: border-box;
}

.content-editor__custom-block.rich iframe {
  box-sizing: border-box;
}

.content-editor__custom-block.rich .rich-wrapper {
  position: relative;
  /* width: 440px;
  height: calc(440px * 0.5625); */
  margin-bottom: 8px;
}
