.drafts-editor {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #494949;
  font-family: Verdana, serif;
  font-size: 16px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drafts-editor blockquote {
  font-weight: bold;
  font-style: italic;
}

/* button reset */
.drafts-editor button {
  background: none repeat scroll 0 0 transparent;
  border: none;
  color: inherit;
  font: inherit;
  font-weight: normal;
  overflow: visible;
  text-transform: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
.drafts-editor button:hover,
.drafts-editor button:focus,
.drafts-editor button:active {
  outline: none;
}

.drafts-editor a {
  cursor: pointer;
  color: #00b2ee;
  font-weight: bold;
  text-decoration: none;
}

.drafts-editor .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* input reset */
.drafts-editor input,
.drafts-editor textarea {
  width: 100%;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 2.2em;
  text-indent: 1em;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.drafts-editor input:focus {
  outline: none;
}
.drafts-editor textarea {
  font-size: 12px;
  line-height: 1.2em;
  text-indent: 0;
  padding: 8px;
  box-sizing: border-box;
}

.drafts-editor figure {
  display: inline-block;
  width: calc(100% - 80px); /* account for margin + padding */
  margin:  0 20px;
  padding: 20px;
}

.drafts-editor hr {
  display: block;
}

/* optional css classes for matching external controls */
.drafts-editor__external-controls {
  display: flex;
  justify-content: flex-end;
  width: 960px;
  margin: 10px auto;
}

.drafts-editor__external-control {
  cursor: pointer;
  width: 60px;
  background: none repeat scroll 0 0 transparent;
  color: #fff;
  font-family: Verdana, serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  padding: 1px 0;
  border: none;
  border-radius: 4px;
  margin-left: 6px;
  -webkit-font-smoothing: antialiased;
}

.drafts-editor__external-control.save { background-color: #00b2ee; }
.drafts-editor__external-control.save:hover { background-color: #00a7df; }
.drafts-editor__external-control.clear { background-color: #c6c6c6; }
.drafts-editor__external-control.clear:hover { background-color: #bebebe; }
