.content-editor__input .dropzone {
  width: 100%;
  color: #ccc;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 1em 0;
}

.content-editor__input .preview {
  max-height: 600px;
  margin-bottom: 1em;
  overflow: auto;
}

.content-editor__input .preview img {
  width: 100%;
}

.content-editor__input .controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-editor__input.link .controls {
  margin-top: 12px;
}

.content-editor__input .upload-name {
  font-size: 12px;
}

.content-editor__input .add-caption {
  min-height: 60px;
  margin: 10px 0;
  outline: none; /* causes flickering */
}

.content-editor__input.photo .add-caption {
  margin-bottom: 0;
}

.content-editor__input .image-sizing {
  display: inline-flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  line-height: 1em;
  width: 100%;
  margin-bottom: 8px;
}

.content-editor__input .image-sizing span,
.content-editor__input .image-sizing input {
  display: inline-block;
  font-size: 14px;
}

.content-editor__input .image-sizing input {
  width: 80px;
}

.content-editor__input .image-sizing input.size-warning {
  color: red;
}

.content-editor__input .image-link span {
  font-size: 14px;
}

.content-editor__input .target {
  text-align: right;
}

.content-editor__input .target span {
  display: inline-block;
  font-size: 12px;
}

.content-editor__input .target input {
  width: auto;
}

.content-editor__input .image-sizing .warning-msg {
  color: red;
  font-size: 11px;
  margin: 0;
}

.content-editor__input .controls button {
  width: 100px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 3px 0;
  border-radius: 4px;
}

.content-editor__input .confirm { background-color: #00b2ee; }
.content-editor__input .confirm:hover { background-color: #00a7df; }

.content-editor__input .cancel { background-color: #c6c6c6; }
.content-editor__input .cancel:hover { background-color: #bebebe; }

.content-editor__input .separator {
  color: #ccc;
  text-align: center;
}

.content-editor__input .input-error {
  color: #ff3333;
  font-size: 12px;
  text-align: center;
}

.content-editor__input.table {
  min-width: 600px;
}

.content-editor__input.table .add-rows {
  margin-top: 12px;
  margin-bottom: 40px;
  overflow-x: auto;
}

.content-editor__input.table .row {
  display: flex;
  margin: 6px 0;
}

.content-editor__input.table .add.remove {
  color: #aaa;
}

.content-editor__input.table .add.remove span {
  font-size: 14px;
}

.content-editor__input.table .row.add.remove {
  margin-top: 8px;
  padding-bottom: 10px;
}

.content-editor__input.table .column.add.remove {
  margin-left: 6px;
}

.content-editor__input.table .add.remove .fa-plus:before {
  margin-right: 6px;
}

.content-editor__input.table .add.remove .fa-minus:before {
  margin-left: 6px;
}

.content-editor__input.table .add.remove .fa-plus:hover,
.content-editor__input.table .add.remove .fa-minus:hover {
  color: #222;
}

.content-editor__input.table .row .empty,
.content-editor__input.table .row input {
  display: block;
  width: 100px;
  margin-right: 4px;
  border-radius: 0;
}

.content-editor__input.table .row .empty {
  background-color: #ccc;
}

.content-editor__input.table .count input {
  width: 80px;
}
