.content-editor__input .dropzone {
  width: 100%;
  color: #ccc;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 1em 0;
}

.content-editor__input .preview {
  max-height: 600px;
  margin-bottom: 1em;
  overflow: auto;
}

.content-editor__input.video .video-wrapper {
  height: calc(440px * 0.5625); /* 16:9 aspect ratio; */
}

.content-editor__input.video .preview iframe {
  height: inherit;
}

.content-editor__input .preview img,
.content-editor__input .preview iframe {
  width: 100%;
}

.content-editor__input .controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-editor__input.link .controls {
  margin-top: 12px;
}

.content-editor__input .upload-name {
  font-size: 12px;
}

.content-editor__input .add-caption {
  min-height: 60px;
  margin: 10px 0;
}

.content-editor__input .controls button {
  width: 100px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 3px 0;
  border-radius: 4px;
}

.content-editor__input .confirm { background-color: #00b2ee; }
.content-editor__input .confirm:hover { background-color: #00a7df; }

.content-editor__input .cancel { background-color: #c6c6c6; }
.content-editor__input .cancel:hover { background-color: #bebebe; }

.content-editor__input .separator {
  color: #ccc;
  text-align: center;
}

.content-editor__input .input-error {
  color: #ff3333;
  font-size: 12px;
  text-align: center;
}
