.simple-menu {
  position: relative;
  min-width: 160px;
  z-index: 100;
}

.simple-menu__click-off {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 101;
}

.simple-menu button {
  width: 100%;
  background-color: #FFF;
  color: #3c3c3c;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  border: 0;
  outline: none;
}

.simple-menu__label,
.simple-menu .csfd-editor__toolbar-control {
  border: 0;
}

.simple-menu__deselect,
.simple-menu .csfd-editor__toolbar-control button,
.simple-menu__label button {
  width: 100%;
}

.simple-menu__label .fa {
  display: inline-block;
  margin-left: 12px;
}

.simple-menu .simple-menu__deselect,
.simple-menu .csfd-editor__toolbar-control button {
  font-size: 16px;
  font-weight: normal;
}

.simple-menu__deselect {
  height: 2em;
}

.simple-menu__dropdown {
  position: absolute;
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  margin: 0 0 0 -1px;
  padding: 0;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 102;
}