.drafts-editor__toolbar {
  width: 100%;
}

.drafts-editor__toolbar .phantom-detached {
  height: 0;
}
.drafts-editor__toolbar.detached .phantom-detached {
  height: 38px;
}

.drafts-editor__toolbar .controls {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ccc;
  z-index: 101;
}
.drafts-editor__toolbar.detached .controls {
  position: fixed;
  top: 0;
  width: 95%;
}

.drafts-editor__toolbar .btn {
  width: 100%;
  background-color: #fefefe;
  color: #3c3c3c;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  border: 0;
  border-radius: 0;
  outline: none;
}

.drafts-editor__toolbar .embed,
.drafts-editor__toolbar .btn {
  border-left: 1px solid #ccc;
}

.drafts-editor__toolbar button:hover {
  background-color: #fefefe;
}

.drafts-editor__toolbar button:hover,
.drafts-editor__toolbar button.active {
  background-color: #efefef;
}

.drafts-editor__toolbar .control {
  flex: 1 auto;
}
