.csfd-editor-toolbar {
  width: 100%;
}

.csfd-editor-toolbar__controls {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}

.csfd-editor__toolbar-btn {
  width: 100%;
  background-color: #fff;
  color: #3c3c3c;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  border: 0;
  outline: none;
}
.csfd-editor__toolbar-btn {
  border-left: 1px solid #ccc;
}

.csfd-editor-toolbar button.active {
  background-color: #efefef;
}

.csfd-editor__toolbar-control {
  flex: 1 auto;
}
.csfd-editor__toolbar-control.embed {

}

